* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 1180px;
    margin: 0 auto;
    background-color: #fff;
    font-size: 14px;
    color: #384a5c;
}

.main__dark{
    filter: blur(2px);;
}

.container__items{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.container__items--product-name{
    margin: 0 0 50px 0;
}
.mainHeader{
    padding: 20px 20px;
    text-align: center;
    color: #333;
}


.container__items--productList{
    min-width: 640px;
    height: 200px;
    box-shadow: 0px 0px 2px 2px #e0e0e0;
    margin: 20px;
    border-radius: 2%;    
}

.container__items--toDoList{
    min-width: 300px;
    min-height: 200px;
    box-shadow: 0px 0px 2px 2px #e0e0e0;
    margin: 20px;
    border-radius: 2%;
    box-sizing:border-box;
    padding: 10px;        
}

.container__items--toDoList--title{
    display: flex;
    justify-content: space-between;
    min-height: 20px;
    font-weight: 500;
    color:#333;
}
.container__items--toDoList--mainElement{
}

.container__items--toDoList--mainElement--list{
    list-style: none;
    padding: 5px;
}

.container__items--toDoList--mainElement--list-item{
    padding: 4px 0 4px 0;
    border-bottom: solid  2px #b2b2b2;
}
.container__items--toDoList--mainElement-addElement{
    width: 97%;
    margin: 0 3px 0 3px;
    height: 20px;
    text-decoration: none;
    border: none;
    background: none;
    text-align: center;
    cursor: pointer;
    border-bottom: 2px solid #b2b2b2;
    box-sizing: border-box;

}
.container__items--toDoList--mainElement--list-radio {
    appearance: none;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    border: 2px solid #b2b2b2;
    margin: 5px 5px -2px 0;
  }
.container__items--toDoList--mainElement--list-radio:checked {
    border: 8px solid #862583;
  }

.container__items--productList{
    box-shadow: 0px 0px 2px 2px #e0e0e0;
    margin: 20px;
    border-radius: 2%;
    box-sizing:border-box;
    padding: 10px;    
    min-width: 640px;
}

.container__items--productList--title{
    font-weight: 500;
    color:#333;
}
  
table{
    width: 100%;
    border-spacing: 0px;
    padding-top: 5px;
    font-size: 12px;
}

thead{
    text-align: left;
}

tbody{
    text-align: left;

}

tr{

    border-bottom-width:10px;
    border-bottom: 1px solid #b2b2b2;
}

tr:hover{
    background-color: #f5f8fa;
}

th{
    border-bottom: 1px solid #b2b2b2;
    padding: 3px;
    font-weight: 500;
    color: #333;

}

td{
    border-bottom-width:10px;
    border-bottom: 1px solid #b2b2b2;
    padding: 3px;
}

.container__items--product{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 300px;
    height: 300px;
    box-shadow: 0px 0px 2px 2px #e0e0e0;
    margin: 20px;
    border-radius: 2%;
}

.container__items--product-title{
    box-sizing:border-box;
    padding: 10px;
    font-weight: 500;
    color: #333;

}

img{
    display: block;
    margin: 0 auto;
    max-width: 250px;
    max-height: 150px;
}

.container__items--product-price{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10px 10px;
    font-weight: 500;
    color: #862583;
}

.modal{
    display: none;
}
.modal__active{
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    top:0;
    min-width: 500px;
    height: 100%;
    background-color: #f5f8fa;
    box-shadow: 0px 0px 5px 5px #e0e0e0;
    box-sizing: border-box;
    padding: 15px;
}

.modal__input{
    width: 100%;
    height: 30px;
    text-align: left;
    text-decoration: none;
    border: none;
    border-bottom: 1px solid #b2b2b2;
    background: none;
    cursor: pointer;
    margin-bottom: 10px;
}

.modal__select{
    border: none;
    background: none;
    text-decoration: none;
    border-bottom: 1px solid #b2b2b2;
    margin-top: 10px;

}

.modal__buttons{
    margin-left: -15px;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-top: 1px solid #b2b2b2;
}

.modal__buttons-button{
    border: none;
    padding: 5px;
}

#modalButtonSave{
background-color: #fff;
border: 1px solid #b2b2b2;
}
#modalButtonSave:hover{
background-color: #862583;
color: white;
}

#modalButtonCancel{
    background-color: #fff;
    border: 1px solid #b2b2b2;
}
#modalButtonCancel:hover{
    background-color: #862583;
    color:white;
    
}

.modal__img{
    display: block;
    width: 200px;
    height: 200px;
    box-shadow: 0px 0px 5px 5px #e0e0e0;
    border-radius: 50%;
    padding: 100px 0 20px 0;
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
}

.modal__img-body{
    margin: 50px auto;
    padding: 100px;
    transform: translate(-50%, -50%);
    height:200px;
    width:100px;
}

.container__items--product--promoBar{
    display:none;
}
.container__items--product--promoBar-active{
    display:inherit;
    position: absolute;
    margin-left: 215px;
    margin-top: -222px;
    border-radius: 1px 200px;
    transform: rotate(40deg);
    width: 100px;
    height: 20px;
    background-color: #000;
    color: white;
}
.promoBar__finalPrice{
    margin: 0 auto;
}
.promoBar__finalPriceSecond{
    margin: 0 auto;
} 
.promoBar__finalPriceThird{
    margin: 0 auto;
}